---
layout: default
---

<div class="home">

  <h1 class="page-heading">About</h1>

  <p>
    This is the LD33 site, new bleeding edge builds will be released every commit. They will probably contain a lot of bugs. Proceed with caution.
  </p>
  <p>
    See <a href="https://github.com/cor/LD33">GitHub</a> for our work or look at our <a href="https://www.icloud.com/sharedalbum/#B04G4TcsmGUoeh7">PhotoStream</a>. Every build will be posted on this site with direct download links.
  </p>
      <h1 class="page-heading">News</h1>

      <ul class="post-list">
        {% for post in site.posts %}
            {% if post.categories contains 'build' %}
            {% else %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
            {% endif %}
        {% endfor %}
      </ul>

        <h1 class="page-heading">Builds</h1>

        <ul class="build-list">
          {% for post in site.posts %}
              {% if post.categories contains 'build' %}
              <li>
                <span class="post-meta"><a class="build-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.tag }}</a> ({{ post.date | date: "%Y-%m-%d %H:%M" }}) </span>
              </li>
              {% endif %}
          {% endfor %}
        </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
